* {
    border: none;
    border-radius: 0;
    font-family: Maple Mono NF;
    font-size: 20px;
    min-height: 0;
}

  window#waybar {
    background: #141216;
    border: 2px solid #676767;
    color: #d8cab8;
  }

  #workspaces {
    /* padding-top: 2px; */
    border-style: solid;
    border-width: 2px;
    border-color: #9b9b9b;
  }

  #workspaces button {
    border-color: #676767;
    border-style: outset;
    border-width: 2px;
    color: #d8cab8;
  }

  #workspaces button:hover, #workspaces button:active {
    background-color: #141216;
    color: #9b9b9b;
  }
  #workspaces button.focused {
    border-color: #d66700;
    border-style: outset;
    border-width: 2px;
    background-color: #fca002;
    color: #141216;
  }

#clock, #cpu, #memory, #network, #pulseaudio, #tray, #mode {
    padding: 0 8px;
    margin: 0 2px;
}