* {
    border: none;
    font-family: Maple Mono NF;
    font-size: 20px;
    min-height: 0;
    padding: 0;
    border-radius: 8px;
}

window#waybar {
  color: @text;  
  background: @base;  
  border: 2px solid @mauve;
  border-radius: 8px;

}

#workspaces {
  /* padding-top: 2px; */
  /* border-style: solid;
  border-width: 2px;
  border-color: #9b9b9b; */
  margin: 8px 8px 8px 8px;
  border-radius: 4px;
}

#workspaces button {
  all: initial;
  min-width: 2.1em;
  min-height: 1.6em;  
  padding: 0.4em 0.4em;  
  border-color: @mauve;
  border-style: outset;
  border-width: 2px;
  color: @text;
  border-radius: 4px;
  margin-right: 5px;
}

#workspaces button.hover {
  background-color: @surface0;
  color: @lavender;
}

#workspaces button.active {
  background-color: @pink;
  color: @base;
}

#workspaces button.focused {
  background-color: @pink;
  color: @base;
}

#workspaces button.urgent {
  border-color: @maroon;
  background-color: @peach;
  color: @base;
}

#clock, #cpu, #memory, #network, #tray, #mode, #wireplumber {
  padding: 2px 8px;
  margin: 8px 8px 8px 8px;
  border-style: solid;
  border-width: 2px;
  border-color: @lavender;
  border-radius: 4px;
}